.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  width: 150px;

  &-item {
    width: 80%;
    height: 70%;
    border-radius: 10px;
  }
  &-value {
    font-weight: 450;
    font-size: 1.2rem;
  }
}
